.title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.subttile {
  display: block;
  height: 20rem;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gifs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 1rem;
}
