.form {
  display: flex;
  align-items: center;
  justify-content: center;
  &__search {
    width: 100%;
    max-width: 30rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid #000;
    background-color: var(--bg-color-bnt);
    box-shadow: var(--box-shadow);
    outline: none;
    &:focus {
      background-color: var(--input-bg);
    }
    &::placeholder {
      color: gray;
      font-weight: 600;
    }
  }
}
