.gif {
  background-color: transparent;
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  &__img {
    aspect-ratio: 16/9;
  }
  &__info {
    padding: 1rem;
    background-color: var(--bg-color-bnt);
    font-weight: 600;
  }
  &__title {
  }
}
